#button1 {
  background-color: cadetblue;
}

#redCircle {
  background-color: red;
  margin: 10px;
  border: 1px solid black;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

#button {
  background-color: aqua;
}

#title {
  display: block;
  color: blueviolet;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#show,
#hide {
  height: 50px;
  width: 80px;
  border-radius: 20%;
  background-color: chocolate;
}

#h1 {
  background-color: aqua;
}
